---
import contacts from "../data/contactsData";
import navData from "../data/navData"
import infoLinks from "../data/infoLinksData"

import socialLinks from "../data/socialLinksData"

import { Icon } from "astro-icon/components";
---

<footer
  class="text-gray-500 bg-white px-4 py-5 container-wrapper md:px-8"
>
  <div class="gap-6 justify-between md:flex">
    <div class="flex-1">
      <div class="max-w-xs">
        <!-- SVG Logo placement -->
        <a href="/" class="text-2xl font-medium text-gray-800"> ШармВуд</a>
        <p class="leading-relaxed mt-2 text-[15px]">
          Создавайте идеальную деревянную мебель, объединяя экспертизу,
          мастерство и эстетику для улучшения вашего дома или офиса.
        </p>
        <ul class="mt-6 flex flex-wrap gap-x-10 space-y-3 items-center">
          {
            contacts.map((contact) => {
              return (
                <li class="flex items-center gap-x-3">
                  <div class="flex-none text-gray-400">
                    <Icon name={contact.icon} class="w-6 h-6" />
                  </div>
                  <a
                    href={`${contact.type}:${contact.value.replace(/\s/g, "")}`}
                  >
                    {contact.value}
                  </a>
                </li>
              );
            })
          }
        </ul>
      </div>
    </div>
    <div
      class="flex-1 mt-10 space-y-6 justify-between sm:flex md:space-y-0 md:mt-0"
    >
      <ul class="space-y-4">
        <h4 class="text-gray-800 font-medium" x-text="item.label">Навигация</h4>
        {
          navData.map(item => {
            return (
            <li>
          <a
            href={ item.path }
            class="hover:underline hover:text-amber-600 cursor-pointer"
            >{ item.name }</a>
        </li>
            )
          })
        }
      </ul>
      <ul class="space-y-4">
        <h4 class="text-gray-800 font-medium" x-text="item.label">Информация</h4>
        {
          infoLinks.map(item => {
            return (
            <li>
          <a
            href={ item.path }
            class="hover:underline hover:text-amber-600 cursor-pointer"
            >{ item.name }</a>
        </li>
            )
          })
        }
      </ul>
      <ul class="space-y-4">
        <h4 class="text-gray-800 font-medium" x-text="item.label">Соц. сети</h4>
        <li class="flex">
          {
            socialLinks.map(link => <a href={link.path} class="hover:underline hover:text-amber-600 cursor-pointer"
><Icon name={link.icon} class="w-6 h-6" /></a>)
          }
        </li>
      </ul>
    </div>
  </div>
  <div class="mt-8 py-6 border-t items-center justify-between sm:flex">
    <div class="mt-4 sm:mt-0">
      &copy; {new Date().getFullYear()} Все права защищены.
    </div>
  </div>
</footer>
