---

import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro';

import '../assets/styles.css'

import Modal from '../components/Modal.astro';
import Contacts from '../components/Contacts.astro';

import { useStoryblokApi } from '@storyblok/astro'

import Meta from '../partials/Meta.astro'

const storyblokApi = useStoryblokApi()
const { data } = await storyblokApi.get('cdn/stories/config', {
  version: 'draft',
  resolve_links: 'url',
})

const content = data?.story?.content

const { seo } = Astro.props
seo.title = `${content.titleOfCompany} - ${seo.title}`
seo.author = content.author || "Henadzi"
seo.url = Astro.url.href

---

<html lang="ru">
	<head>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<Meta {seo}/>
	</head>
	<body ontouchstart="">
		<script type="text/javascript"> (function ab(){ var request = new XMLHttpRequest(); request.open('GET', "https://scripts.botfaqtor.ru/one/132855", false); request.send(); if(request.status == 200) eval(request.responseText); })(); </script>
		<Header title={content.titleOfCompany} menu={content.menu} />
		<Modal />
            <main>
				<slot />
			</main>
			<Contacts />
		<Footer title={content.titleOfCompany} description={content.teaser} copyright={content.copyright} contacts={content.contacts} socialLinks={content.socialLinks} menu={content.menu} infoLinks={content.infoLinks}/>
	</body>
</html>

<style is:global>
	html {
		font-size: 20px;
	}

	.stop-scrolling {
		height: 100%;
		overflow: hidden;
	}

	p {
		margin: 10px 0;
	}
</style>